// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Akash Gajjar <Akash_Gajjar@mentor.com>
 * Copyright (c) 2019 Pragnesh Patel <Pragnesh_Patel@mentor.com>
 */

/dts-v1/;
#include "rk3399-rock-pi-4.dtsi"

/ {
	model = "Radxa ROCK Pi 4B";
	compatible = "radxa,rockpi4b", "radxa,rockpi4", "rockchip,rk3399";

	aliases {
		mmc2 = &sdio0;
	};

gpio-leds {
	status = "okay";
	compatible = "gpio-leds";
	pinctrl-names = "default";
	pinctrl-0 =<&leds_gpio>;

	led@1 {
		gpios = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
		label = "lan_led";
		linux,default-trigger = "heartbeat";
		linux,default-trigger-delay-ms = <0>;
	};

	led@2 {
		gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		label = "wan_led";
		linux,default-trigger = "heartbeat";
		linux,default-trigger-delay-ms = <0>;
	};
};
};

&pinctrl {
	gpio-leds {
		leds_gpio: leds-gpio {
			rockchip,pins =
				<0 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&sdio0 {
	status = "okay";

	wifi@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <1>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 GPIO_ACTIVE_HIGH>;
		interrupt-names = "host-wake";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_l>;
	};
};

&uart0 {
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8822cs-bt";
		clocks = <&rk808 1>;
		clock-names = "lpo";
		device-wakeup-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
		shutdown-gpios = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
		max-speed = <1500000>;
		pinctrl-names = "default";
		pinctrl-0 = <&bt_host_wake_l &bt_wake_l &bt_enable_h>;
		vbat-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc_1v8>;
	};
};
